<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="static/js/index.js"></script>
        <title>Portfolio</title>
    </head>
    <body>
        <h1>Portfolio</h1>
        <hr>

        <h3 id="stocks"></h3>
        <form id="new-stock">
            <input id="stockname" autocomplete="off"  autofocus placeholder="Stock Name" type="text">
            <input id="submit-stockname" type="submit">
        </form>

        <li>{{ stock_results }}</li>

        <hr>

    </body>
</html>
